<li>Beute: Mini-Plus - Styropor</li>
<ul>
    <li>Boden</li>
    <li>Deckel</li>
    <li>Drei Zargen</li>
    <li>18 Rähmchen</li>
    <li>Futterzarge</li>
    <li>3-facher Farbanstrich - Pigrol Beutenschutz Lasur - braun</li>
    <li>Zurrgurt</li>
</ul>






