<li>Beute: Hohenheimer Einfachbeute / Liebig-Beute</li>
<ul>
    <li>Hersteller: <a href="http://www.dehner-bienen.de" target="_blank">Dehner Bienen</a></li>
    <li>Alter: 1 - 2 Jahre</li>
    <li>Drei Flachzargen aus Weymouthkiefer, mit Rutschleisten, für insgesamt 30 Zanderwaben</li>
    <li>Hoher Gitterboden inkl. Fluglochkeil und Varroaschieber</li>
    <li>Atmungsaktiver Innendeckel mit guter Isoliereigenschaft</li>
    <li>Blechhaube verzinkt, stapelbar, mit abgeflachten Ecken</li>
    <li>Beutenfolie</li>
    <li>2-facher Farbanstrich - Pigrol Beutenschutz Lasur - braun</li>
    <li>Zurrgurt</li>
</ul>






