<li>Bienen:</li>
<ul>
    <li>Carnica</li>
    <li>Königin: Aus 2016, gezeichnet</li>
    <li>Varroabehandlung:</li>
    <ul>
        <li>Frühjahr/Sommer: 2 x MS bei Brutfreiheit</li>
        <li>Winter: Oxalsäure</li>
    </ul> 
    
</ul>

