<li>Bienen:</li>
<ul>
    <li>Carnica</li>
    <li>Königin: F1 aus 2016, aus Edelzelle, gezeichnet, Zucht: "Rudolf Zander, Marburg"</li>
    <li>Varroabehandlung:</li>
    <ul>
        <li>Sommer: AS-Nassenheider oder 2 x MS bei Brutfreiheit</li>
        <li>Winter: Oxalsäure</li>
    </ul> 
    
</ul>

