<li>Waben:</li>
<ul>
    <li>30 Rähmchen, Hersteller: <a href="http://www.dehner-bienen.de" target="_blank">Dehner Bienen</a></li>
    <li>Format: Flachzarge</li>
    <li>Typ: Hoffmann</li>
</ul>



