<li>Zarge:</li>
<ul>
    <li>Ganzzarge aus Weymouthkiefer für 10 Zanderwaben, mit Rutschleisten</li>
    <li>Für Hohenheimer Einfachbeute / Liebig-Beute</li>
    <li>Hersteller: <a href="http://www.dehner-bienen.de" target="_blank">Dehner Bienen</a></li>
</ul>





