<li>Zargen:</li>
<ul>
    <li>Drei Flachzargen aus Weymouthkiefer für insgesamt 30 Zanderwaben, mit Rutschleisten</li>
    <li>Für Hohenheimer Einfachbeute / Liebig-Beute</li>
    <li>Hersteller: <a href="http://www.dehner-bienen.de" target="_blank">Dehner Bienen</a></li>
</ul>





